@model IEnumerable<SampleCRUDAPPASPNETMVC.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Employee List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Add New Employee</a>
</p>
<table class="table table-bordered table-hover table-responsive-lg">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deptname)
            </th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>


        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deptname)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Portalid">Details</a> 
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Portalid">Edit</a> 
            </td>
            <td>
                <a class="btn bg-danger" asp-action="Delete" asp-route-id="@item.Portalid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
